[submodule "themes/hugo-resume"]
	path = themes/hugo-resume
	url = https://github.com/eddiewebb/hugo-resume
[submodule "themes/resume-a4"]
	path = themes/resume-a4
	url = https://gitlab.com/mertbakir/resume-a4.git
